// Mixins: {Form-Controls}
@mixin control($height: 3.5rem) {
  display: block;
  box-sizing: border-box;
  @include radius(10px);
  width: 100%;
  height: $height;
  margin-top: 8px;
  padding: 12px;
  font-size: 1.1rem;
  box-shadow: inset 0 0 25px 0 rgba($secondary-white, 0.85);
  -webkit-box-shadow: inset 0 0 25px 0 rgba($secondary-white, 0.85);
  -moz-box-shadow: inset 0 0 25px 0 rgba($secondary-white, 0.85);
}

// Mixins: {Alignment}
@mixin move-aside($justify-content) {
  display: flex;
  justify-content: $justify-content;
}

@mixin move-down($margin-top) {
  margin-top: $margin-top;
}

@mixin left-margin($margin) {
  margin-left: $margin;
}

// Mixins: {radius, opacity}
@mixin radius($border-radius: 3px) {
  border-radius: $border-radius;
}

@mixin opacity($opacity) {
  opacity: $opacity;
}
