// Variables: {Colors}
$primary-white: #ffffff;
$secondary-white: #fafafa;

$primary-black: #000000;

$primary-grey: #bdbdbd;
$secondary-grey: #e0e0e0;

$primary-gold: #ffd600;

$primary-cyan: #00bcd4;

$primary-red: #c62828;
