span {
  display: inline-block;
  width: 25px;
  margin-left: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;

  .star-filled {
    width: 40px;
    height: 40px;
    background: url(/assets/images/reviewSprite.png) 0px 0px;
  }
  .star-blank {
    width: 40px;
    height: 40px;
    background: url(/assets/images/reviewSprite.png) -2px 40px;
  }
}
